#all-codes{

    margin-top: 10px;
    overflow-y: scroll;
    height: calc(100% - 80px);
    width: 100%;
}

.container-data-code {
    height: 270px;
    width: 210px;
    float: left;
    margin-left: 10px;

}

.container-code{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: #fff !important;
    padding:5px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
}
.container-code span{
    font-family: monospace;
    white-space: pre;
}
.container-code .number{
    padding-left: 2px;
    padding-right: 2px;
    color: #999;
}



.container-code .line1{
    background-color: #dedede;
    width: 100%;
    display: block;
}

.container-code .line1.line-changed {
    background-color: #ce233b !important;
}


.container-code .line2{
    background-color: #fff;
    width: 100%;
    display: block;
}

.container-code .line-changed{
    background-color: #ff484d !important;
    color: #fff;
}

.data-code{
    font-size: 12px;
    background-color: #fff;
    color: #222;
    width: 100%;
    display: block;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
	border: 1px solid #000;
}

.data-error{
    background-color: #ff484d !important;
    color:#fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px #7a2224 solid;

}

.data-noerror{
    background-color: #34af38 !important;
    color:#fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px #1a5d1b solid;

}


/*MENU */

.inp-search-menu {
    float: left;
    margin: 20px 5px 0px 10px;
}
.inp-search-menu select{
    font-size: 20px;
    border: none;
    outline: none;
}

.head-menu{
    height:100px !important;
}
.head-menu .title{
    font-size: x-large;
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;

}