.itens-sumary-datshboard{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    border: 1px solid #8d8da0;
    margin-top: 5px;
    background-color: #d3d7d8;
    padding: 5px;
    border-radius: 5px;
    display: inline;
}

.button:hover{
    cursor: pointer;
    background-color: #bdc1c2;
}

#container-student{

}
.list-item{

    padding: 2px;
    float: left;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #c5c5df;
}

.options-item-list{
    float: right;
}

.list-item .name{
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.list-item .label{
    font-style: italic;
    font-size: 14px;
    background-color: #716eca;
    border-radius: 5px;
    padding: 7px;
    margin-left: 5px;
    margin-left: 5px;
    color: #fff;
    float: left;
}
.list-item .label:hover{
    cursor: pointer;
    background-color: #625fb5;
}
.list-item .label.inactive{
    background-color: #9c979b;
    color: #212121;
}

.list-item .label.inactive:hover{
    cursor: default;
}

.list-item .label.success{
    background-color: #3d9c2e;
    color: #fff;
}


.list-item .label.error{
    background-color: #9c251e;
    color: #fff;
}

.list-item .name{
    min-width: 300px;
    display: block;
    float: left;
}

.list-item .link{
    text-decoration: underline;
}

.list-item .link:hover {
    cursor: pointer;
}

.list-item .value{
    color: #000000;
    border-radius: 20%;
    background-color: #fff;
    padding: 3px;
    font-size: 10px;
    margin-left: 10px;
    min-width: 20px;
    float: right;

}

.list-item .label.inactive i{
    color: #424242 !important;
}


.list-item .label.inactive .value{
    background-color: #ada7ac;
    color: #212121;
}


.list-item .label.success .value{
    background-color: transparent;
    color:#fff;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .label.error .value{
    background-color: transparent;
    color:#fff;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}