
  
body{
    overflow: hidden;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;   
}
.head-bar-side{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 50px !important;
}

.head-bar-side .menu-logo{
    width: 30px;
    height: 30px;
    font-size: 30px;
    float: left;
}

.head-bar-side .img-profile{
    float: left;
    margin-left: 5px;
}

.head-bar-side .username{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    width: 100px;
    height: 20px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.bar-side{
    color:#fff;
    background-color: #1E293B;
}

#namecourse{
    font-weight: bold;
    color: #447bb4;
}

.datealert-class{
    background-color: #447bb4;
    margin-top: 5px;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    font-size: 12px;
    
}
.item-menu{
    width: calc(100% - 5px);
    font-size: 20px;
    padding-top:10px;
    padding-left: 5px;
    padding-bottom:10px;
    font-weight: normal;
    border-left: 10px solid;
    border-color: #447bb4;
}


.item-menu.active{
    background-color: #b1b1cb;
    color: #fff;
    border-right: 5px solid #060f24;
    width: calc(100% - 20px);
    border-color: #355a82;
}

.item-menu:active{
    border-right: 5px solid #060f24;
    width: calc(100% - 10px);
    border-color: #355a82;
}
.item-menu:hover{
    cursor: pointer;
    border: none;
    background-color: #447bb4;
    width: calc(100% - 10px);
}

.inp-head-lager{
    width: 300px;
    height: 30px;
    border: 1px solid #727282;
    border-radius: 5px;
}


.container-medium{
    width: calc(80% - 10px);
    height: 100%;
    float: left;
}


.container-medium100{
    width: 100%;
    height: 100%;

}


#bt-find-course{
    float: right;
    margin-right: 10px;
    margin-top: 15px;

    font-size: 15px;
}

#container-input-find-course{

    margin-top: 15px;
    float: right;
    margin-right: 20px;

}

.container-courses{
    padding: 10px;
}

.item-courses{
    width: 310px;
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    padding: 10px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
}

.item-courses:hover{
    cursor:pointer;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);

}

.item-courses.blue{
    background-color: rgb(51,93,169);
}

.item-courses.blue:hover{
    background-color: rgb(60, 89, 141);
}


.item-courses.blue2{
    background-color: #47bdeb;
}



.name-course{
    color:#fff;
    font-size: 25px;
    width: 100%;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.container-tag{
    height: 50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.title-progress-course{
    color:#fff;
    font-size: 10px;
}
.tag-course{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background-color: rgb(32,63,115);
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
}
.tag-course i{
    margin-right: 5px;
    color: rgb(91,156,240);
}

.progress-course-grey{
    border-radius: 5px;
    border: 3px #424242 solid;
    width: 90%;
    height:10px;
    padding: 2px;
    background-color: #727282;
}

.progress-course{
    border-radius: 5px;
    /*border: 3px #fff solid;*/
    width: 300px;
    height:10px;
    padding: 2px;
    background-color: rgb(32,63,115);
}

.progress-course-grey .progress-course-value{
    background-color:  rgb(84,166,138);
}


.progress-course-value{
    width: 40%;
    border-radius: 3px;
    height: 100%;
    background-color: rgb(84,166,138);
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.numberprogresscourse{
    color:#fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.item-progress-course{
    margin-top: 2px;
}


.nametopic-progress-course{
    margin-top: 5px;
}


.head-menu .head-title{
    font-size: 30px;
    font-weight: 400;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

.container-activity{
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc( 100% - 30px);
    height: calc(100% - 100px);
}

.container-activity iframe{
    height: 360px;
    background-color: #727282;
}

.container-activity iframe:last-child{
   margin-bottom:  100px
}

.container-activity .class-item{
    border-bottom: 1px solid #727282;
    width: 100%;
    min-height:300px;
    margin-top: 10px;
}
.container-activity .title-class{
    font-size: 25px;
    font-weight: 600;
}

.container-activity .description-class{
    text-align: justify;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-activity .click-reloadvideo{
    background-color: #5d77a0;
    border-radius: 10px;
    color: #fff;
    width: 70px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
}

.container-activity .click-reloadvideo:hover{
    cursor: pointer;
    background-color: #47618d;
}

.container-activity .video-class{   }

#container-my-activity{
    padding: 10px;
}

.activity-item{
    width: calc(100% - 30px);
    height: 30px;
    border-radius: 10px;
    background-color:rgb(32,63,115) !important;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    
}

.activity-item:hover{
    cursor: pointer;
}
.activity-item div{
    float: left;
}

.activity-item i {
    font-size: 30px;
    margin-left: 5px;
    color: rgb(21, 43, 80);
    width: 50px;
    display: block;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.icofont-flag.actived{
    color:  #1fe318 !important;
}

.icofont-error{
    color: #e61b14 !important;
}

.icofont-chat.actived{
    color: #32659c !important;
}
.icofont-check-circled{
    color: #1fe318  !important;
}


.activity-item .title-activity{
    width: 400px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.activity-head{
    width: 50%;
    height: 30px;
    font-size: 12px !important;
}

.activity-head .title-activity{
    width: 310px !important;
}

.activity-head div{
    float: left;
    width: 50px;
    border-right: 1px solid #727282;
    padding-left: 5px;
    padding-right: 5px;
}

.activity-head div:last-child{
    border-right:none;
}

.alert-course{
    background-color:  #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: #444;
    font-family: "Arial";
}

#from-updateprofile{
    font-family: 'Montserrat', sans-serif;
}

#btcall-image{   
    width: 300px;
    margin-top: 5px;
    background-color: #4a5f8e;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
   
    margin-right: 5px;
    border: 0px;
}

#btcall-image:hover{
    background-color: #38548f;
    cursor: pointer;
 }